<div class="row">
  <% @properties.each do |property| %>
  <div class="card-grid col-lg-6 col-md-6 col-sm-12">
    <div class="card">
      <div class="card-image" style="background-image: url('<%= cl_image_path property.photo.key, height: 260, width: 400, crop: :fill %>')">

      </div>
      <h5 class="card-title roboto"> <%= property.name %> </h5>
      <p class="card-text"> <%= truncate(property.address, length: 34, separator: ' ', omission: '') %> </p>
      <p class="card-text">Haunted level: <%= property.haunted_level %></p>
      <p class="card-text">Price: <%= property.price %>€</p>
      <%= link_to "Haunt that place" , property_path(property), class: "btn btn-primary creepy-btn" %>
    </div>
  </div>
  <% end %>
</div>
